.dark {
  --bg: #000;
  --text: #fff;
  --hover-bg: #222;
  --border: #fff;
}
.light {
  --bg: #fff;
  --text: #000;
  --hover-bg: #ddd;
  --border: #000;
}
.home {
  background-color: var(--bg);
  color: var(--text);
  --blue: #007fff;
  --green: #adff2f;
  --blue-hover: #2190ff;
  --green-hover: #8cdd11;
  padding: 1rem;
  padding-top: 5rem;
}

.firstPage {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logoContainer {
  width: 160px;
  height: 140px;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tagline {
  font-size: 1.5rem;
  white-space: pre-line;
  margin-bottom: 1em;
}

.tagline span {
  color: var(--blue);
}

.links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.links a {
  font-size: 1.5rem;
}

.themeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0 1rem 1rem;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--text);
  border-radius: 9999px;
  border: 0;
  background: none;
  color: var(--text);
}

.themeButton svg {
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: middle;
}

.install {
  border: 2px solid var(--text);
  border-radius: 0.5rem;
  font-size: 1rem;
  background: none;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  color: var(--text);
  padding: 1rem;
}

.install pre {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.size {
  font-size: 1rem;
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 0.4rem;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.light .size {
  background-color: var(--green);
  color: var(--text);
  border: 2px solid var(--border);
}

.scroll {
  background: none;
  border: 0;
  color: var(--text);
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

.usage {
  font-size: 1.5rem;
}

.scroll svg {
  width: 2.5rem;
  height: 2.5rem;
}

.docs {
  font-size: 1rem;
  background-color: var(--blue);
  color: #000;
  border-radius: 0.4rem;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-width: 100px;
}

@media (pointer: fine) {
  .links a:hover {
    color: var(--blue);
  }
  .themeButton:hover {
    background-color: var(--hover-bg);
  }
  .install:hover {
    background-color: var(--hover-bg);
  }
  .size:hover {
    background-color: var(--hover-bg);
  }
  .light .size:hover {
    background-color: var(--green-hover);
  }
  .scroll:hover {
    border: 2px solid var(--border);
  }
  .tab:hover {
    background-color: var(--blue-hover);
  }
  .docs:hover {
    background-color: var(--blue-hover);
  }
}

@media (min-width: 640px) {
  .themeButton {
    margin: 1rem;
  }
  .logoContainer {
    width: 220px;
    height: 200px;
  }
  .links {
    margin: 1rem 2rem;
  }
  .tagline {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .install {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .size {
    font-size: 1.5rem;
  }
  .docs {
    font-size: 1.5rem;
  }
  .usage {
    font-size: 2rem;
  }
}
